* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  background-color: #f28ab2;
  min-height: 100vh;
  display: grid;
  place-content: center;
}